html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;color:#333}
body{background:#EBEBEB}
figure{margin:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var,i{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none;color:#07C}
a:hover{text-decoration:underline;olor:#B51414}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
input:focus,textarea:focus{outline:none}
textarea{resize:none}
button{cursor:pointer;padding:0}
table{border-collapse:collapse;border-spacing:0}
.clearfix:after,.content:after{content:'\20';display:block;height:0;clear:both}
.clearfix:after,.content:after{*zoom:1}
.clear {clear:both;width:1px;height:0;font-size:1px;visibility:hidden;overflow:hidden}
.fl{float:left}
.fr{float:right}
.hidden{display:none!important}
.xhidden{overflow:hidden}
.invisible{visibility:hidden}
.cur{display:block !important}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.tl{text-align:left}
.tr{text-align:right}
.tc{text-align:center}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.fn{font-weight:normal}
.fb{font-weight:bold}
.f12{font-size:12px}
.f14{font-size:14px}
.fsong{font-family:'\5b8b\4f53'}/*宋体*/
.fyahei,.btns{font-family:'\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';font-weight:normal}/*微软雅黑、黑体*/
.cwhite,.cwhite a{color:#FFF}
.cwhite a:hover{color:#FFF}
.cOrange{ color:#FF4802;}
.cgray{color:#666}
.cdgray{color:#333 !important;}
.clgray{color:#999}
.cblack,.cblack a{color:#000}
.cred{color:#B51414}
.cblue{color:#069}
.blank30{ clear:both; height:30px;}
.p10{padding:10px}
.mt10{margin-top:10px}
.mt20{margin-top:20px !important;}
.mtb20{ margin-top:20px; margin-bottom:20px;}
.mr10{display:inline;margin-right:10px}
.ml10{margin-left:10px}
.bgnone{background:none !important}
.bgWhite{background:white !important}
.bordNo{border:none !important}
.inp{ height:23px; padding:4px 6px 3px; border:1px solid #8F939C; border-radius:3px; box-shadow:1px 2px 2px rgba(0,0,0,0.1) inset; background:#FEFEFE; line-height:23px;vertical-align:middle;font-family:'Tahoma','simsun'; color:#333;}
.inp:hover{border-color:#97B0C5;background:#FFF;box-shadow:1px 1px 2px #CCC;}
.wrap{width:960px;margin:0 auto;}
.content{overflow:hidden}
.col1{float:left;width:170px;}
.col2{float:left;width:790px}
.myPos,.pagenum a.btnPre,.pagenum a.btnNext,a.icoPost,a.icoMag,.hasMenu a,.icoSj,.usFaceInfo i,.usFaceInfoBot a,.usTip span.myRank i,.usIco a,.icoHonour span,.icoSj2,.newsTip .icoEye,.newsTip .icoMsg2,.newsTip .icoMsg a,.showHide,.downloadUrl,.newsBot a,.btnCmt,.newsAD i,.icoReply,.btnGrade,.leftNav dt a,.leftNavCtrl,.boardInfoTop span.fr a,.noticeShow i,a.icoSecurity,.tags li,.listCot i,.voteBoxL .btnCls,.voteBoxL .btnAddVote,.btnUnCheck,.btnCheck,.btnLRed,.btnLBlue,.debateTit .btnUp,.debateTit .btnUp2,.myTag i,.myInfo a.icoSet,.myMsg li a,.tagACot i,.tblList li.td5,.qaTop i,.qaBorLi dd,.bestA,.bestA i,.btnDig span,.logInfo .icoBlog a{background:url(../images/bbs.png) no-repeat}/*背景*/
/*nav*/
.logInfo a.icoNote,.logInfo a.icoEmail,.logInfo a.icoSet,.pagenum a.btnPre,.pagenum a.btnNext,.mainNav li.icoHome,.logInfo .icoBlog a,.mainNav .icoDown,.search button{background:url(../images/bbs.png) no-repeat}/*头部背景*/
.nav{height:30px;background:#3F3A39;line-height:30px;color:#FFF;font-size:14px}
.mainNav{float:left; padding-left:28px;}
.mainNav li{float:left;padding:0 11px}
.mainNav li.icoHome{ padding-left:23px; background-position:0 -13px;}
.nav a{color:#FFF}
.mainNav li.current a{font-weight:bold}
.logInfo{ display:inline; float:right; margin-right:52px;}
.logInfo .fsong{ width:auto;color:#AAA}
.logInfo .fsong a{margin:0 10px}
.logInfo li{ z-index:2; display:inline;float:left; width:36px; height:30px; margin-left:1px;}
.logInfo li.welTip{ width:auto; padding-right:0;}
.logInfo .icoBlog a{ display:block; width:16px; height:16px; margin:7px 0 0 10px; background-position:-42px -1546px; line-height:16em; overflow:hidden;}
.logInfo a.icoNote{ display:inline-block; float:left; width:18px; height:16px; margin:7px 0 0 9px; background-position:0 -2044px; overflow:hidden;}
.logInfo a.icoEmail{ display:inline-block; float:left; width:18px; height:14px; margin:8px 0 0 9px; background-position:0 -2120px; overflow:hidden;}
.logInfo li span{ display:none; width:36px;height:20px; margin-top:25px;background:#FFA81F; color:#3D3D3D; text-align:center; line-height:20px;}
.logInfo li.subShow{ height:30px;background:#FFA81F;}
.logInfo li.subShow span{ display:block;}
.logInfo li.subShow a{ cursor:pointer; width:36px; height:45px; margin:0; text-decoration:none;}
.logInfo li.subShow a.icoNote{left:0; top:0; background-color:#FFA81F;background-position:9px -2254px;}
.logInfo li.subShow a.icoEmail{ left:0; top:0;background-color:#FFA81F;background-position:9px -2329px;}
.logInfo a.icoSet{ display:inline-block; float:left; width:36px; height:30px; margin:0; background-position:9px -2180px;text-align:left;}
.logInfo li ul{ right:0; top:30px; clear:both; display:none; width:116px; background:#616161;}
.logInfo li.current ul{ display:block;}
.logInfo li.current a.icoSet{ background-color:#616161; }
.logInfo li li{ display:block; float:none; height:40px; margin-left:0; font-size:12px;}
.logInfo li li a{ display:block; float:none; width:101px; height:40px;padding-left:15px; border-bottom:1px solid #4B4B4B; line-height:40px; background:none;}
.logInfo li li a:hover{ background:#3D3D3D;}
.logInfo li.subShow li a{ width:101px;height:40px;} 
.logInfo li.current a.icoNote{ background-color:#616161; background-position:9px -2037px;}
.logInfo li.current a.icoEmail{ background-color:#616161; background-position:9px -2112px;}
.logInfo li.current i{ padding-left:10px; font-weight:bold; color:#FFA81F;}
.mainNav .icoDown{ padding-right:14px; background-position:right -53px;}
.mainNav li ul{ display:none;}
.bgmainNav{background:#616161;}
.mainNav li.current ul{left:0; top:30px; display:block; width:106px; background:#616161;}
.mainNav li.current li{ display:block; float:none; height:32px; padding:0; line-height:32px;}
.mainNav li.current li a{ display:block; height:32px; padding-left:11px;font-weight:normal; font-size:12px;}
.mainNav li.current li a:hover{ background:#4E4E4E; box-shadow:2px 2px 0 #393939 inset}
/*header*/
.header{ height:81px; overflow:hidden;}
.header h1{ float:left; width:156px;}
.header h1 a{ display:block; float:left; width:148px; height:59px; margin-top:16px; background:url(../images/logo.png); line-height:59em; overflow:hidden;}
.search{ float:right; padding-top:31px;}
.search input{ float:left; width:209px; height:30px; padding:0 17px; border:2px solid #CCC; border-right:none; border-radius:4px 0 0 4px; line-height:30px;}
.search button{ float:left; width:36px; height:34px; border:0 none; background-position:0 -81px; line-height:34em; overflow:hidden;}
.subNav{ height:36px; border-bottom:1px solid #515252; background:#3D3D3D; overflow:hidden; line-height:36px; font-weight:bold;}
.subNav li{ display:inline; float:left; height:36px; margin-right:-1px; border-left:1px solid #525252; font-size:14px;}
.subNav li a{ display:inline-block;height:36px; padding:0 20px; color:#FFF;}
/*content*/
.myPos{ height:30px; margin:19px 0 15px; padding-left:22px; background-position:0 -335px; line-height:30px; color:#999;}
.myPos a{ margin:0 6px;}
/*发帖菜单*/
.menuPage{ height:36px;}
.menuTag{ float:left;}
.menuTag li{ z-index:12; display:inline; float:left;}
.menuTag li a,.mainCmtBtn,.btnBlue{ display:inline-block; height:30px; margin-right:10px; padding:0 23px; border-width:1px; border-style:solid; border-color:#EE8E15 #EE8E15 #E37C0F #EE8E15; border-radius:4px; background-color:#FFA81F; box-shadow:1px 2px 2px #BBB; text-align:center; line-height:30px; color:#FFF; font-size:14px; text-decoration:none; font-weight:bold; text-shadow:1px 1px 0 #FF7D0B; outline:none;}
.menuTag li a:hover,.mainCmtBtn:hover{ border-color:#E57F00 #E57F00 #D96C00 #E57F00; background-color:#F79A09; font-weight:bold; color:#FFF; text-decoration:none;}
.menuTag li a:active,.mainCmtBtn:active{ background-color:#EF8C00;box-shadow:0 0 2px #999;}
.hasMenu ul {border:1px solid #CCC; border-radius:4px; background-color:#FFF; box-shadow:1px 2px 2px rgba(0,0,0,0.1);}
.hasMenu .menuBox { left:0; top:30px; display:none; height:auto; padding-top:15px;}
.menuShow .menuBox{ display:block;}
.menuTag .hasMenu li{ display:block; float:none;}
.menuTag .hasMenu li a{ width:82px; height:30px; margin:0 0 1px; padding:0 0 0 38px; border:none; background-color:#FFF; box-shadow:none; line-height:30px; color:#666; font-size:12px; font-weight:normal; text-shadow:none; text-align:left;}
.hasMenu a.ico1{ background-position:15px -425px;}
.hasMenu a.ico2{ background-position:15px -453px;}
.hasMenu a.ico3{ background-position:15px -485px;}
.hasMenu a.ico4{ background-position:15px -517px;}
.hasMenu a.ico5{ background-position:15px -549px;}
.hasMenu a.ico6{ background-position:15px -579px;}
.icoSj{ position:relative; left:32px; top:-8px; display:block; width:12px; height:8px; background-position:-31px -129px; overflow:hidden;}
.menuTag .hasMenu li a:hover{ background-color:#FFEED2; font-weight:bold;}
.menuTag .menuShow{ font-weight:bold;}
.menuTag .menuShow ul{ font-weight:normal;}
.menuTag li a.icoPost{ padding-right:34px; background-position:60px -392px;}
.menuTag li a.icoMag{padding-right:34px;background-position:90px -392px;}
.menuPage .pagenum{ float:right; margin-top:4px;}
.menuTag .hasMenu .menuList li a{ width:80px; padding:0; background-image:none; text-align:center;}
/*分页*/
.pagenum{ height:26px;}
.pagenum a{display:inline-block;height:23px;margin:0 2px 0 3px;padding:0 8px;border:1px solid #C4C4C4;box-shadow:1px 1px 1px #DDD;border-radius:2px;background:#F0F0F0;color:#717171 !important;text-align:center;line-height:23px;vertical-align:middle;text-decoration:none;}
.pagenum a.current,.pagenum a.current:hover { cursor:default;border-color:#585858;background:#666;color:#FFF !important;}
.pagenum .pagenum_btn,.pagenum a:hover {border-color:#74C8F4;background-color:#DFF4FF;text-decoration:none;}
.pagenum a.btnPre{ width:8px; background-position:0 -368px;}
.pagenum a.btnNext{ width:8px; background-position:-24px -368px;}
/*正文左侧*/
.newsCot{ margin:18px 0 20px; border:1px solid #CCC; border-bottom:none; border-radius:6px; background:#FFF; background:#EBEBEB}
.newsCotL{ float:left; width:174px;}
.newsCot li{ border-bottom:1px solid #CCC; border-radius:6px 6px 6px 6px; background:#F7F7F7; zoom:1;}
.newsCot li li{ border-bottom:none; border-radius:0; background:#FFF; overflow:hidden;}
.newsCotR{ z-index:10; float:right; width:783px;min-height:300px; height:auto !important; height:300px; padding-bottom:45px; border-left:1px solid #CCC; border-radius:0 6px 6px 0; background:#FFF;}
.usFace{ z-index:11;width:120px; height:120px; margin:20px auto 0; }
.usFace img{ display:block; width:120px; height:120px; border-radius:6px;box-shadow:1px 2px 2px rgba(0,0,0,0.3);}
.usFace img:hover{box-shadow:1px 2px 3px rgba(0,0,0,0.4);}
.usFaceBg,.usFaceP{left:0;bottom:0; display:block; width:120px; height:20px; }
.usFaceBg{border-radius:0 0 6px 6px; background:#E42C2E;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8; }
.usFaceBg2{background:#27AE60;}
.usFaceBg3{background:#FFA81F;}
.usFaceP{text-align:center; color:#FFF; letter-spacing:2px;}
.icoSj2{ right:-37px; top:30px; display:inline-block; width:10px; height:20px; background-position:0 -800px;}
.usFaceInfoBox{ left:120px; top:0; display:none; padding-left:20px;}
.newsCotL .current .usFaceInfoBox{ display:block;}
.usFaceInfo{ width:300px; height:190px; padding:6px 10px; border:1px solid #CCC; border-radius:6px;background:#FFF; box-shadow:1px 2px 2px rgba(0,0,0,0.1);}
.usFaceInfo i{left:-8px; top:53px; display:inline-block; width:8px; height:12px; background-position:-31px -137px;}
.usFaceInfoTit{ height:20px; margin-bottom:10px; padding:0 0 6px 6px; border-bottom:1px dashed #CCC; line-height:20px;}
.cOffLine{ color:#999;}
.usFaceInfo ul{ overflow:hidden;}
.usFaceInfo li{ float:left; width:150px; height:20px; line-height:20px;}
.usFaceInfo li span{ float:left; width:66px; padding-right:4px; text-align:right; color:#999;}
.usFaceInfoBot{ margin-top:6px; padding:6px 0 0 6px;border-top:1px dashed #CCC; clear:both;}
.usName{ padding:10px 0 4px 27px; line-height:21px; font-size:14px; font-weight:bold;}
.usFaceInfoBot{ text-align:center;}
.usFaceInfoBot a{ display:inline-block; height:20px; margin:0 20px; padding:0 1px 0 22px; line-height:20px;}
.usFaceInfoBot a.icoUs1{ background-position:0 -612px;}
.usFaceInfoBot a.icoUs2{ background-position:0 -644px;}
.usFaceInfoBot a.icoUs3{ background-position:0 -674px;}
.usTip{ padding-left:27px;}
.newsCot .usTip li{ height:22px; background:#F7F7F7; line-height:22px;}
.usTip span.fl{ float:left; color:#999;}
.usTip span.myRank{ display:inline-block; float:left;height:22px; margin-top:2px; overflow:hidden;}
.usTip span.myRank i{ display:inline-block; float:left; margin-right:2px;}
.usTip span.myRank i.icoSun{ width:16px; height:16px; background-position:0 -705px;}
.usTip span.myRank i.icoMoon{ width:15px; height:15px; margin-top:1px; background-position:-16px -705px;}
.usTip span.myRank i.icoStar{ width:13px; height:12px; margin-top:2px; background-position:-31px -705px;}
.usTip li.usIco{ height:auto; margin-top:6px;}
.usIco a{ display:inline-block; float:left; width:24px; height:24px; margin-right:8px; line-height:24em; overflow:hidden;}
.usIco a.usIco1{ background-position:0 -721px;}
.usIco a.usIco2{ background-position:-24px -721px;}
.usIco a.usIco3{ background-position:0 -745px;}
.usIco a.usIco4{ background-position:-24px -745px;}
.usTip li.icoHonour{ height:auto;}
.icoHonour span{ display:inline-block; width:70px; height:22px; margin:6px 0 3px; padding-left:50px; border:1px solid #008ADE; border-radius:4px; background-color:#0594D4; background-position:8px -774px; box-shadow:0 0 2px #00B3FF inset; line-height:22px; color:#FFF; font-weight:bold; text-shadow:0 0 2px #005F8E;}
/*正文右侧*/
.newsCots{ padding:10px 20px;}
.newsCots h1{ padding:20px 0 15px; line-height:26px; font-size:20px; font-weight:bold;}
.newsCots h2{ padding:0; line-height:26px; font-size:18px; font-weight:bold;}
.newsTip{ height:18px; overflow:hidden; color:#999; line-height:18px;}
.newsTip span{ float:left; padding-right:20px;}
.newsTip span a{ color:#666;}
.newsTip .icoEye,.newsTip .icoMsg2,.newsTip .icoMsg a{ display:inline-block;height:18px; padding-left:22px;}
.newsTip .icoEye{ background-position:0 -827px;}
.newsTip .icoMsg2{background-position:0 -849px;} 
.newsTip .icoMsg a{ background-position:0 -849px; color:#07C;}
.newsCotR blockquote{ margin-bottom:18px;padding:10px 13px 9px;border:1px dashed #CCC;background:#F7F7F7; line-height:21px; text-indent:2em; color:#5B5B5B; font-size:12px;}
.newsCotR .blot { margin:5px 20px 15px; text-indent:0; color:#999;}
.newsCotR .blot{ color:#808080;}
.newsCotIn{ clear:both; padding:15px 0 5px; font-size:14px; line-height:21px;}
.newsCotIn p{ padding-bottom:2px;}
.showHide,.showHideCot{ height:18px; margin-top:10px; padding:9px 10px 7px 24px; border:1px dashed #FF9A98; border-radius:4px; background-position:6px -870px; line-height:18px; font-size:12px;}
.showHide a{ margin-left:4px;}
.showHideCot{ height:auto; background:none;}
.showHideCot strong{ display:block; padding-bottom:10px; color:red;}
.showHideCot p{}
.downloadUrl{ height:30px; margin:18px 0 10px; padding-left:38px; background-position:0 -909px; line-height:30px; color:#999;}
.downloadUrl a{ margin-right:4px;}
.orgUrl{ font-size:14px;}
.related{ margin:10px 20px; padding:10px 18px 15px; border:1px solid #94CFDD; border-radius:4px; background:#EEF7FC;}
.related h3{ height:20px; padding:2px 0 4px; font-size:14px; line-height:20px;}
.related ul{ overflow:hidden;_zoom:1;}
.newsCot .related li{ display:inline; float:left; width:322px; height:24px; margin-left:-1px; padding-left:30px; border-left:1px dashed #CCC; background-color:#EEF7FC;line-height:24px; overflow:hidden;}
.related li a{ color:#333;}
.newsBot{left:0; bottom:0; width:100%; padding:10px 0 10px;border-top:1px dashed #DDD; overflow:hidden;}
.newsBot li{ display:inline; float:right; margin-right:36px; line-height:19px;}
.newsBot li a{ display:inline-block; height:19px; padding-left:24px;}
.newsBot a.icoEdit{ background-position:0 -1035px;}
.newsBot a.icoCollect{background-position:0 -1007px;}
.newsBot a.icoGrade{background-position:0 -979px;}
.newsBot a.icoReplys{background-position:0 -950px;}
.newsBot a.icoCite{background-position:0 -1110px;}
.newsBot li.fl{ float:left;}
.newsBot li.fl a{ margin-left:20px; padding:0; color:#999;}
.myState{ position:relative; padding:10px 20px 7px; border-bottom:1px solid #E0E0E0; border-top-right-radius:6px; background:#EFEFEF; color:#999;}
.myState .newsTip{ float:left;}
.myCmt{ padding:0 20px;font-size:14px; line-height:24px;}
.myCmt em{ padding-left:6px; color:#999;}
.cmtCot{ padding:0  20px; overflow:hidden;}
.btnCmt{ display:block; width:310px; height:28px; margin:0 0 11px 0; padding-left:18px; border-radius:4px 0 0 4px; background-color:#FEF9CF; background-position:right -1070px; line-height:28px; color:#900200; font-weight:bold;}
.cmtCot img{ display:inline; float:left; width:24px; height:24px; margin-right:9px;}
.cmtCot dd{ padding-top:5px; overflow:hidden; _zoom:1;}
.cmtCot .btnDel{ float:right; margin:0 3px 0 10px; font-weight:normal;}
.cmtCotR{ float:right; width:710px; padding-top:1px; line-height:22px;}
.cmtCotR span{ padding-left:10px; color:#999;}
.cmtCotR a{ font-weight:bold;}
.newsAD{ margin:20px 0 3px; padding:10px 20px 0; border-top:1px solid #DDD; line-height:20px;}
.newsAD i{ display:inline-block; float:left; width:16px; height:11px; margin:4px 10px 0 0; background-position:0 -1139px;}
.newsAD  cite{ padding:0 4px; color:#999;}
.newsADImg{ width:783px; height:100px; margin-top:15px; border:0 0 6px 6px; text-align:center; overflow:hidden;}
.newsADImg img{ display:block;width:783px; height:100px;}
.reply{margin:0 20px 20px;}
.replyL{ padding-right:100px; text-align:right;line-height:32px;}
.replyL em{ padding:0 4px; color:red; font-weight:bold;}
.icoReply{ right:0; _right:19px; top:1px; *top:-6px; z-index:2; cursor:pointer; display:inline-block; width:71px;  padding-left:10px; border:1px solid #CCC; border-radius:6px 6px 0 0; border-bottom:1px solid #FFF; background-color:#FFF; background-position:65px -1152px; color:#07C; line-height:30px;}
.icoReply2{border-bottom:1px solid #CCC;border-radius:6px;background-position:65px -1212px;}
.replyCot{ width:741px; border:1px solid #CCC; border-radius:6px 0 6px 6px; background:#FFF;}
.replyCot ul{ padding:5px 10px 0;}
.newsCot .replyCot li{ height:32px; padding:0 4px; border-bottom:1px dashed #DDD; line-height:32px; overflow:hidden;}
.replyCot li{ overflow:hidden;}
.replyCot img{ display:block; width:24px; height:24px; margin-top:4px;}
.replyCot li ul{ padding:0; overflow:hidden;}
.replyCot li li{ float:left; height:24px; overflow:hidden; color:#666;}
.replyCot .td1{ width:32px;}
.replyCot .td2{ width:100px;}
.replyCot .td3{ width:50px; font-weight:bold; color:red;}
.replyCot .td4{ width:498px;}
.replyCotBot{ height:25px; padding:10px 15px; line-height:25px; overflow:hidden;}
.replyCotBot span.pageRep{ float:left;}
.replyCotBot span.pageRep a{ margin:0 4px;}
.btnGrade{ cursor:pointer; display:inline-block; float:right; width:68px; height:23px; padding-left:22px; border:1px solid #DBDBDB; border-radius:4px; box-shadow:1px 2px 2px rgba(0,0,0,0.1); background-color:#EDEDED; background-position:8px -1186px; line-height:23px; text-align:center;}
.btnGrade:hover{ border-color:#BBB; background-color:#EBEBEB;box-shadow:1px 2px 2px rgba(0,0,0,0.2);}
/*正文底部评论*/
.mainCmt{ margin:15px 0; padding:0 15px 15px;  border:1px solid #CCC; border-radius:6px; background:#FFF; overflow:hidden;}
.mainCmt h5{ padding:10px 0 10px 0; font-weight:bold; font-size:14px; line-height:20px;}
.mainCmt textarea{ display:block; width:914px; height:90px; margin-bottom:12px; line-height:20px;}
.mainCmtBtn{ float:right; width:76px; height:32px; margin:0; padding:0; line-height:32px;}
/*帖子列表页左侧*/
.leftNav{ width:150px; border:1px solid #CCC; background:#FFF;}
.leftNav dt{ font-weight:bold;}
.leftNav a{ display:inline-block; width:140px; padding-left:10px; color:#333; text-decoration:none; outline:none;}
.leftNav dt{ padding-left:10px;}
.leftNav dt,.leftNav dt a{ height:30px; background-color:#EDEDED; background-position:131px -1243px; box-shadow:0 0 2px rgba(0,0,0,0.1) inset; line-height:30px; font-size:14px;}
.leftNav dt a{ margin-left:-10px;}
.clsLeftNav dt a{ background-position:131px -1273px;}
.clsLeftNav dd{ display:none;}
.leftNav dt a:hover{ background-color:#E6E6E6; box-shadow:0 0 2px rgba(0,0,0,0.2) inset;}
.leftNav dt a:active{ background-color:#E2E2E2; box-shadow:0 0 2px rgba(0,0,0,0.3) inset;}
.leftNav dd a{ width:130px;height:25px; margin-bottom:2px;  padding-left:20px; line-height:25px;}
.leftNav dd a:hover{ background:#F0F0F0; font-weight:bold;}
.leftNav dd a:active,.leftNav dd.current a{ background:#E8E8E8; font-weight:bold;}
.leftNavCtrl{ cursor:pointer; right:5px; top:180px; width:10px; height:89px; background-position:0 -1322px;}
.leftNavShow{}
.leftNavShow .col1 .leftNav{ display:none;}
.leftNavShow .col1 .leftNavCtrl{right:170px;background-position:-9px -1322px;}
.leftNavShow .col2{ width:960px;}
/*帖子列表页右侧*/
.boardInfo{ margin-bottom:15px; padding:10px; border:1px solid #CCC; background:#FFF;}
.boardInfoTop{ height:22px; overflow:hidden; line-height:22px;}
.boardInfoTop h3{ float:left; font-size:14px;}
.boardInfoTop h3 a{ color:#333;}
.boardInfoTop span.fl{ padding-left:20px;}
.boardInfoTop span.fl strong{ padding:0 10px 0 2px; color:red;}
.boardInfoTop span.fr a{ display:inline-block; height:18px; margin-right:15px; padding-left:20px; background-position:0 -1453px; line-height:18px;}
.boardInfoTop span.fr a.btnRss{ background-position:0 -1424px;}
.boardInfoTop i{ cursor:pointer; display:inline-block; width:11px; height:3px; margin-top:10px; background-color:#999; overflow:hidden; vertical-align:top;}
.noticeShow i{ height:9px; margin-top:6px;background-color:#FFF; background-position:-19px -1322px;}
.boardMsgr{ padding:6px 0; line-height:20px;}
.boardMsgr strong{ font-weight:normal;}
.boardMsgr a{ margin:0 4px; letter-spacing:1px;}
.boardInfo p a{ color:red;}
.noticeShow p{ display:none;}
.list{ margin:13px 0 15px; padding-bottom:5px; border:1px solid #CCC; background:#FFF;}
.listTag{ border-bottom:1px solid #CCC; height:40px; background:#F2F2F2;}
.listTag li{ position:relative; float:left;width:78px;height:40px;}
.listTag li a{ position:absolute;left:-1px; top:0; z-index:2; display:inline-block; width:78px; height:39px;   border-right:1px solid #CCC; text-align:center; line-height:39px; font-size:14px; text-decoration:none; outline:none; color:#333;}
.listTag li.current a{ top:-1px; height:39px;border-left:1px solid #CCC; border-top:3px solid #FFA81F; background:#FFF; font-weight:bold;}
.tags{ padding:10px 0; border-bottom:1px solid #CCC; overflow:hidden;_zoom:1; line-height:22px;}
.tags strong{ float:left; width:50px; text-align:center;}
.tags ul{ float:left; width:738px;}
.leftNavShow .tags ul{ width:908px;}
.tags li{ float:left; height:22px; padding:0 6px 0 8px; background-position:0 -1478px;}
/*
.listSel{ height:30px; line-height:30px; border-bottom:1px solid #DDD;}
.listSel dt{ float:left; padding:0 15px; font-weight:bold;}
.listSel dd{ float:left; padding-right:15px;}
*/
.listCot{ display:none;}
.listCotShow{ display:block;}
.listCot li{ overflow:hidden;_zoom:1;}
.listCot li ul{ margin:0 10px; border-bottom:1px dashed #CCC; overflow:hidden;_zoom:1;}
.listCot li li{ display:inline; float:left; height:36px; padding:4px 0; line-height:36px; overflow:hidden;}
.listCot .td1{ width:32px;}
.listCot .td2{ width:380px; padding-right:10px;}
.listCot .listCotShowOrder .td1{width:42px;}
.listCot .listCotShowOrder .td2{width:370px;}
.listCot .listCotShowOrder .td2 a{ margin:0 4px; color:#07C;}
.leftNavShow .listCot .td2{ width:540px; padding-right:10px;}
.leftNavShow .listCot .listCotShowOrder .td2{ width:530px; padding-right:10px;}
.listCot .td3{ width:71px;}
.listCot .td4{ width:125px;}
.listCot .td5{ width:70px;}
.listCot .td6{ width:80px;}
.listCot i{ display:inline-block; float:left; width:16px; height:16px;margin:10px 0 0 6px;}
i.icoAEd{ background-position:-19px -1351px;}
i.icoAIng{ background-position:-19px -1367px;}
i.icoANo{ background-position:-19px -1383px;}
.listCot .td1 i.icoCoin{margin:12px 0 0 8px;}
.listCot i.icoCoin{ width:14px; height:13px; margin:12px 4px 0 0; background-position:0 -493px;}
.listCot i.icoVs{ width:15px; height:9px; margin:14px 0 0 9px; background-position:-1px -528px;}
.listCot i.icoVote{ height:14px; margin:12px 0 0 8px; background-position:0 -461px;}
.listCot i.icoRep{ width:15px;height:19px; margin:8px 0 0 9px; background-position:-35px -1351px;}
.listCot i.icoRepNo{ width:15px;height:19px; margin:8px 0 0 9px; background-position:-35px -1370px;}
.listCot i.icoRecd{ width:21px;height:14px; margin:11px 0 0 5px; background-position:-35px -1389px;}
.listCot i.icoTop1{ width:18px;height:18px; margin:8px 0 0 7px; background-position:0 -2612px;}
.listCot i.icoTop2{ width:18px;height:18px; margin:8px 0 0 7px; background-position:-18px -2612px;}
.listCot i.icoTop3{ width:18px;height:18px; margin:8px 0 0 7px; background-position:-36px -2612px;}
.listCot i.icoImg{ float:none;width:14px;height:14px;margin-left:7px;  background-position:-42px -1520px; vertical-align:-3px; *vertical-align:-3px; _vertical-align:0;}
.listCot i.icoRecd1{ float:none; width:21px;height:14px; margin-left:7px; background-position:0 -2630px; vertical-align:-3px;*vertical-align:-3px; _vertical-align:0;}
.listCot i.icoRecd2{ float:none; width:21px;height:14px; margin-left:7px; background-position:-21px -2630px; vertical-align:-3px;*vertical-align:-3px; _vertical-align:0;}
.listCot i.icoRecd3{ float:none;width:21px;height:14px; margin-left:7px; background-position:-42px -2630px; vertical-align:-3px;*vertical-align:-3px; _vertical-align:0;}
.listCot .td2 a.cTop1{ color:#ED1930; font-weight:bold;}
.listCot .td2 a.cTop2{ color:#EC2F83;font-weight:bold;}
.listCot .td2 a.cTop3{ color:#8F298F;font-weight:bold;}
.blkTit{ height:23px; margin:0 10px; padding-left:43px; border-bottom:1px dashed #CCC; background:#F5F5F5; line-height:23px;}
.listCot .td2 strong{ padding-right:6px; font-weight:normal;}
.listCot .td2 strong a{ color:#07C;}
.listCot .td2 a{ color:#333;}
.listCot .td2 a cite{ font-style:italic;}
.listCot .td4 img{ display:block; float:left; width:25px; height:25px; margin:6px 5px 0 0;}
.listCot .tdSpan1,.listCot .tdSpan2{ display:block; height:16px; margin-top:3px;line-height:16px; overflow:hidden;}
.listCot .tdSpan2{  margin-top:0;color:#999; }
.listCot .tdSpan1 a,.listCot .tdSpan2 a{ color:#666;}
/*发布问答帖*/
.pubQA h4{ height:20px; padding:0 0 6px; border-bottom:1px solid #CCC; line-height:20px; font-size:14px;}
.pubQAForm li{ padding:10px 0; overflow:hidden; line-height:32px;}
.pubQAForm li select,.pubQAForm li input,.pubQAForm li label,.pubQAForm li span,.pubQAForm li em{ display:inline; float:left;margin-right:15px; }
.pubQAForm li select{  padding:7px 5px 6px;border:1px solid #8F939C;line-height:30px;}
.pubQAForm li input{ color:#999;}
.pubQAForm li input.mainCmtBtn{ color:#FFF;}
.pubQAForm li input.pubInpW1{ width:590px;}
.pubQAForm li input.pubInpW2{ width:60px;}
.pubQAForm li input.pubInpW3{ width:590px;}
.pubQAForm li.reward{ padding-left:15px; border:1px dashed #FEB337; border-radius:4px; background:#FFFEF6;}
.pubQAForm li em{ color:#666;}
.pubQAForm li em i{ padding:0 4px; color:#FF691F;}
.pubQAForm li.pubQAEdit span{ margin-right:0;}
.pubQAForm .mainCmtBtn{ display:inline; float:left; margin-right:15px;}
.btnGray,.btnGray:hover,.btnGray:active{ border-color:#909090;  background-color:#B3B3B3; box-shadow:1px 2px 2px #BBB; text-shadow:1px 1px 0 #999;}
.btnGray:hover{ background-color:#AAAAAA; box-shadow:1px 2px 2px #AAA;}
.btnGray:active{ background-color:#A3A3A3;}
/*发布辩论贴*/
.pubQAForm li.viewpoint{ padding:0 0 0 10px; border:1px dashed #FEB337; border-radius:4px; background:#FFFEF6;}
.viewpointBlk{ display:inline; float:left; width:442px; margin:0 0 15px 20px;}
.viewpointBlk h5{ padding:10px 0 6px; font-weight:bold; font-size:18px; color:red;}
.viewpointBlk h5.cblue{ color:blue;}
.viewpointBlk textarea{ width:422px; height:100px; line-height:20px;}
.viewpointLi{ clear:both; padding-bottom:15px; font-size:14px; overflow:hidden;}
.pubQAForm li .viewpointLi label{ margin-right:10px; padding-left:20px;}
.viewpointLi select{ width:88px;}
.viewpointLi input{ width:130px;}
/*发布投票贴*/
.pubQAForm li.voteBox{padding:10px 0 15px; border:1px dashed #FEB337; border-radius:4px; background:#FFFEF6;}
.voteBoxTit{ padding:6px 0 0 35px; font-size:14px; color:#999;}
.voteBoxTit strong{ color:#333;}
.pubQAForm .voteBoxL li input{ width:500px; color:#333;}
.voteBoxL{ float:left; width:608px; min-height:188px; height:auto !important; height:188px;padding-left:35px; border-right:1px dashed #FFA81F; font-size:14px;}
.voteBoxL .btnCls,.voteBoxL .btnAddVote,.btnUnCheck,.btnCheck{ cursor:pointer; display:inline-block; float:left; width:21px; height:21px; margin-top:5px; background-position:-21px -1520px; line-height:21em; overflow:hidden;}
.voteBoxL .btnCls:hover,.btnUnCheck:hover,.btnCheck:hover{ border-radius:4px; box-shadow:0 0 2px 2px rgba(0,0,0,0.2);}
.voteBoxL .btnCls:active,.btnUnCheck:active,.btnCheck:active{border-radius:4px; box-shadow:0 0 2px 2px rgba(0,0,0,0.3);}
.btnAddBox{ width:120px;}
.btnAddBox .btnAddVote{ float:right; margin-top:6px; background-position:0 -1520px;}
.pubQAForm li{}
.pubQAForm .voteBoxR li span{ margin-right:0; padding:0 0 0 26px; font-size:14px;}
.pubQAForm .voteBoxR li input{ width:48px; text-align:center; padding-left:0; color:#333;}
.pubQAForm .voteBoxR li label{ font-size:14px;}
.pubQAForm .voteBoxR checkbox{ display:none;}
.btnUnCheck{ margin-top:6px;background-position:0 -1541px;}
.btnCheck{ margin-top:6px; background-position:-21px -1541px;}
/*辩论帖*/
.btnLRed,.btnLBlue{ display:block; width:63px; height:38px; margin:10px 0; line-height:38em; overflow:hidden;}
.btnLRed{ background-position:0 -1562px;}
.btnLBlue{ background-position:0 -1638px;}
.debate{}
.debateTit{ margin:10px 0; padding-left:8px; overflow:hidden;color:#FFF; font-size:14px; font-weight:bold;text-shadow:1px 1px  0 #888;}
.debateTit .btnUp,.debateTit .btnUp2{ cursor:pointer; display:inline-block; float:left; width:25px; height:33px; margin:0 12px; padding-left:24px; border-radius:6px; background-color:#F8641C; background-position:7px -1716px; line-height:33px; }
.debateTit .btnUp2{ background-color:#3396C0;background-position:7px -1747px; }
.debateTit .btnUp:hover{ background-color:#F05C14;box-shadow:0 0 2px rgba(0,0,0,0.2) inset;}
.debateTit .btnUp2:hover{ background-color:#2B8EB8;box-shadow:0 0 2px rgba(0,0,0,0.2) inset;}
.debateTit .btnUp:active{ background-color:#E8540C;box-shadow:0 0 2px rgba(0,0,0,0.3) inset;}
.debateTit .btnUp2:active{ background-color:#2386B0;box-shadow:0 0 2px rgba(0,0,0,0.3) inset;}
.voteNum{ float:left; width:621px; height:33px; border-radius:6px; background:#3396C0; overflow:hidden; line-height:33px; text-align:center; }
.voteNumL{ float:left; display:inline-block; background:#F8641C; box-shadow:0 0 3px rgba(0,0,0,0.3) inset;}
.voteNumR{ float:left;display:inline-block; box-shadow:0 0 3px rgba(0,0,0,0.3) inset;}
.debateCot{ padding:10px 0 20px; overflow:hidden;_zoom:1;}
.debateCotLi{ display:inline; float:left; width:320px; margin-left:20px;}
.thesis{ width:288px;padding:15px; border:1px solid #CCC; border-radius:6px; background:#FFF;box-shadow:0 0 3px rgba(0,0,0,0.2); font-size:14px; color:#EE550A;}
.thesis i{ position:absolute;left:60px; top:-8px;}
.thesis span{ position:absolute; padding-left:10px;font-size:12px; color:#999;}
.thesisUs{ padding:30px 0 10px; overflow:hidden;}
.thesisUs img{ float:left; width:48px; height:48px; margin:0 12px 0 0;}
.thesisUs p{ height:40px; margin-top:4px; line-height:20px; overflow:hidden;}
.debateCotLi ul{ margin-left:-12px; overflow:hidden;}
.debateCotLi li img{width:48px; height:48px; display:block;}
.debateCotLi li{ display:inline; float:left; width:48px; margin:12px 0 0 12px;}
.userBlue{ margin-left:103px;}
.userBlue .thesis{ color:#1381AF;}
a.postView{ display:block; width:147px; height:35px; margin:28px auto 0; border:1px solid #DA4E09; border-color:#DA4E09 #D14500 #D14500 #DA4E09; border-radius:6px; background:#F8641C; box-shadow:0 0 2px 2px rgba(0,0,0,0.06) inset; font-size:14px; font-weight:bold; color:#FFF; text-align:center; line-height:35px; text-decoration:none; text-shadow:1px 1px 0 #BF3300;}
a.postView:hover{border-color:#D14500 #C83C00 #C83C00 #D14500; background:#EF5B13;box-shadow:0 0 2px 2px rgba(0,0,0,0.2);}
a.postView:active{border-color:#C83C00 #BF3300 #BF3300 #C83C00; background:#E6520A;box-shadow:0 0 2px 2px rgba(0,0,0,0.25);}
.userBlue a.postView{border-color:#4C97B7 #1678A1 #1678A1 #4C97B7; background:#3396C0;box-shadow:0 0 2px 2px rgba(0,0,0,0.06) inset;text-shadow:1px 1px 0 #02648D;}
.userBlue a.postView:hover{border-color:#428DAD #0C6E97 #0C6E97 #428DAD; background:#298CB6;box-shadow:0 0 2px 2px rgba(0,0,0,0.2);}
.userBlue a.postView:active{border-color:#3883A3 #02648D #02648D #3883A3; background:#1F82AC;box-shadow:0 0 2px 2px rgba(0,0,0,0.25);}
.debateCotHr{ left:391px; top:127px; width:1px; height:202px; background:#CCC; overflow:hidden;}
.myTag{ margin-left:12px; padding:10px 16px 10px 20px;}
.myTag a{ margin:0 4px; color:#666;}
.myTag i{ left:8px; top:12px; display:inline-block; width:8px; height:15px; background-position:-44px -705px; overflow:hidden;}
.orderBy{ padding:10px 20px; overflow:hidden;}
.orderBy span{ float:left;}
.orderBy ul{ float:left; overflow:hidden;}
.orderBy li { float:left;padding-left:10px;}
.orderBy li a{ display:inline-block; width:42px; height:20px; border-radius:4px; line-height:20px; text-align:center; text-decoration:none; outline:none;}
.orderBy li a.btnUserDeft{border:1px solid #CFCFCF; background:#EBEBEB; color:#333}
.orderBy li a.btnUserRed{ border:1px solid #DA4E09; border-color:#DA4E09 #D14500 #D14500 #DA4E09; background:#F8641C;box-shadow:0 0 2px 2px rgba(0,0,0,0.06) inset;color:#FFF;text-shadow:1px 1px 0 #BF3300;}
.orderBy li a.btnUserRed:hover{border-color:#D14500 #C83C00 #C83C00 #D14500; background:#EF5B13;box-shadow:0 0 2px 2px rgba(0,0,0,0.2);}
.orderBy li a.btnUserBlue{ border:1px solid #DA4E09;border-color:#4C97B7 #1678A1 #1678A1 #4C97B7; background:#3396C0;box-shadow:0 0 2px 2px rgba(0,0,0,0.06) inset;text-shadow:1px 1px 0 #02648D;color:#FFF;}
.orderBy li a.btnUserBlue:hover{border-color:#428DAD #0C6E97 #0C6E97 #428DAD; background:#298CB6;box-shadow:0 0 2px 2px rgba(0,0,0,0.2);}
.myState2 .btnLRed,.myState2 .btnLBlue{ position:absolute; right:-7px; top:-1px;  margin:0; background-position:0 -1600px;}
.myState2 .btnLBlue{ background-position:0 -1676px;}
.myState2{ padding-right:64px;}
.endInfo{ padding-top:20px; text-align:center;}
.endInfo a{ display:inline-block; width:124px; height:27px; margin:10px; border:1px solid #999; border-radius:4px; background:#F1F1F0; box-shadow:1px 2px 2px rgba(0,0,0,0.1); text-align:center; line-height:27px; text-decoration:none; color:#333; outline:none;}
.endInfo a:hover{ border-color:#888; background:#EAEAEA;}
.endInfo a:active{ border-color:#777; background:#E0E0E0;box-shadow:1px 2px 2px rgba(0,0,0,0.2);}
.endInfo ul{ padding-bottom:10px; font-size:14px; text-align:left;}
.endInfo li{ padding-top:8px; line-height:26px;}
.endInfo li p{ text-indent:2em;}
/*投票帖*/
.vote{ margin:15px 20px 0; padding-bottom:25px; font-size:14px; overflow:hidden;}
.vote p{ line-height:28px;}
.vote p strong{ font-weight:normal; color:#EC520F;}
.vote ol{ padding-top:25px;}
.vote li,.vote li label,.voteNums{ overflow:hidden;_zoom:1;}
.vote li label{ display:block; width:100%;}
.vote li span.fl{ float:left; width:43px;}
.vote li span.fl input{ float:left; margin:6px 0 0 6px;}
.vote li p{ float:left; width:700px; line-height:24px;}
.voteNums{ height:18px; padding:6px 0 15px; line-height:18px;}
.voteNums span{ display:inline-block; float:left; width:496px; height:10px; margin:6px 8px 0 43px; border-radius:10px; background:#E8EDF2;}
.voteNums span i{ display:inline-block; float:left; height:10px;border-radius:10px; }
.voteNums em{ float:left; width:40px;}
.vote .mainCmtBtn{ display:inline; float:left; margin:20px 0 0 43px;}
/*我的回复*/
.col3{ display:inline; float:left; width:660px; margin:0 20px;}
.tagA{ position:relative; z-index:1; height:32px; margin-top:40px; padding-left:10px; border-bottom:1px solid #CCC;}
.tagA a{ position:relative; top:1px; z-index:2; display:inline-block; width:91px; height:30px; border:1px solid #FFF; border-bottom:1px solid #CCC; border-radius:4px 4px 0 0; text-align:center; font-size:14px; font-weight:normal; color:#333; line-height:30px; text-decoration:none; outline:none;}
.tagA a.current{ border-color:#CCC #CCC #FFF #CCC; box-shadow:0 2px 2px #DDD inset; font-weight:bold;}
.myRepList li{ padding:15px 34px 5px; border-bottom:1px dashed #CCC; font-size:14px;_zoom:1;}
.myRepList li p{ padding-bottom:6px; line-height:24px;}
.myRepList li span{ padding-right:10px; font-size:12px; color:#999;}
.myRepList i{ left:13px; top:20px; display:inline-block; width:12px; height:15px; background-position:0 -1936px;}
.tagACot{ padding-bottom:20px;}
.tagACot .pagenum{ padding-top:20px;}
.col4{ display:inline;float:left; width:240px; margin-right:20px;}
.myInfo{ padding-top:40px; overflow:hidden;}
.myInfo img{ float:left; width:60px; height:60px; margin-right:15px; border-radius:6px;}
.myInfo h4{ height:22px; line-height:22px; overflow:hidden; font-size:14px;}
.myInfo h4 a{ color:#333;}
.myInfo a.icoSet{ display:inline-block; width:15px; height:15px; margin-left:6px; background-position:-38px -1336px; vertical-align:-2px;*vertical-align:2px; overflow:hidden;}
.myInfo p span{ display:block; height:18px; line-height:18px; }
.myInfo p strong{ font-weight:normal;color:#999;}
.myMsg{ padding:15px 0 20px 7px;}
.myMsg li{ padding-top:8px;}
.myMsg li a{ display:inline-block; height:20px; padding-left:23px; color:#333;}
.myMsg li a.icoMark{ background-position:0 -1902px;}
.myMsg li a.icoPost{ background-position:0 -1933px;}
.myMsg li a.icoRemind{ background-position:0 -1963px;}
.myMsg li a.icoCollect{ background-position:0 -1995px;}
.myMsg li a.icoMark:hover,.myMsg li.current a.icoMark{ background-position:0 -1785px;}
.myMsg li a.icoPost:hover,.myMsg li.current a.icoPost{ background-position:0 -1814px;}
.myMsg li a.icoRemind:hover,.myMsg li.current a.icoRemind{ background-position:0 -1843px;}
.myMsg li a.icoCollect:hover,.myMsg li.current a.icoCollect{ background-position:0 -1871px;}
.myMsg li.current a{ color:#07C; font-weight:bold;}
/*我的积分+我的收藏*/
.myRanks{ padding:40px 0 0; overflow:hidden;}
.myRanks h4{ float:left; padding-right:10px; font-size:14px;}
.userInfo{ margin-top:10px; overflow:hidden; background:#E6F4FB;}
.userInfo li{ float:left; width:25%; height:29px; border-bottom:1px solid #FFF; line-height:29px; color:#666;}
.userInfo li span{ float:left; width:62px; padding-right:2px; text-align:right; color:#333;}
.tblList{ margin-top:20px; overflow:hidden; font-size:14px;}
.tblList li{ overflow:hidden;}
.tblList li li{ float:left; height:40px; line-height:40px; overflow:hidden;}
.tblList li ul{ border-bottom:1px dashed #CCC; overflow:hidden;_zoom:1;}
.tblList li.td1{ width:100px; padding-left:10px;}
.tblList li.td2{ width:105px; color:#666;}
.tblList li.td3{ width:315px; color:#666;}
.tblList li.td4{ width:130px; color:#999; font-size:12px;}
.tblList li.f14{ font-size:14px !important;}
.tblList li.td5{ width:360px; padding-left:24px; background-position:4px -1923px;}
.tblList li.f14 a,.tblList li.td5 a{ color:#333;}
.tblList li.td5 span a{ color:#07C; font-size:12px;}
.tblList li.td5 span{ padding-left:12px;}
.tblList li.td6{ width:96px; font-size:12px;}
.tblList li.td7{ width:50px; color:#999; font-size:12px;}
.tblList li.td8{ width:410px; }
.tblList li.td8 span a{ margin:0 3px; color:#666;}
.tblList li.th li{ background:#E6F4FB; color:#333; font-size:14px;}
.tblList li.th li{ height:23px; line-height:23px;}
.tblList li.th ul{ border-bottom:none;}
/*博客首页*/
.siteTip{ height:20px; margin:-10px 0 10px; line-height:20px; color:#666;}
.siteTip i{ padding:0 6px; color:#CCC;}
.siteTip em{ padding-right:5px; color:#333;}
.hTop{ margin-bottom:10px; padding:13px 12px; background:#FFF; overflow:hidden;_zoom:1;}
#lunbo{position:relative; z-index:1;float:left;width:270px; height:185px; border:1px solid #CCC;overflow:hidden;}
#lunbo img{width:270px;height:185px;}
#lunbo_bg {cursor:pointer;position:absolute;bottom:0;z-index:1000;width:270px;height:30px;background-color:#000;filter: Alpha(Opacity=30);opacity:0.3;}
#lunbo_info{cursor:pointer;position:absolute;left:10px;bottom:4px;z-index:1001;height:22px;color:#fff;font-size:14px;font-weight:bold;}
#lunbo_text {position:absolute;right:3px;bottom:3px;width:120px;z-index:1002;}
#lunbo ul {position:absolute;right:5px;bottom:5px;z-index:1002;margin:0;padding:0;filter: Alpha(Opacity=80);opacity:0.8;}
#lunbo ul li {cursor:pointer;display:block;float:left;padding:0 4px;background:#6f4f67;color:#FFF;font-size:11px;line-height:normal;}
#lunbo ul li.on {background:#900 !important}
#lunbo_list a{position:absolute;}
.topList{ display:inline; float:left; width:322px; margin-left:10px; overflow:hidden;}
.topList h2{ height:23px; background:#FAFAFC; line-height:23px; text-align:center;}
.topList ol{ padding:4px 8px 0;}
.topList li{ height:20px; line-height:20px; overflow:hidden;}
.topList i{ display:inline-block; float:left; width:11px; height:11px; margin:5px 10px 0 0; border-radius:2px; background:#E6F4FB;line-height:12px;color:#878F93; text-align:center; font-weight:bold; -webkit-text-size-adjust:none;font-size:8px; overflow:hidden;}
.topList i.topC{background:#FFB533; color:#FFF;}
.topList li a{ color:#333;}
dl.topToday{ clear:both; float:left; width:100%; height:82px; margin-top:15px; background:#FAFAFC; overflow:hidden;}
dl.topToday dt{ display:inline; float:left; width:16px;height:74px; margin-right:8px; padding:8px 0 0 5px; border-right:2px solid #FFF; line-height:16px;}
dl.topToday dd{ display:inline; float:left; width:60px;height:82px; margin-left:4px; text-align:center;}
dl.topToday dd img{ display:block; width:50px; height:50px; margin:8px 0 0 2px; border-radius:6px; box-shadow:2px 2px 2px rgba(0,0,0,0.1);}
dl.topToday figcaption{ height:22px; line-height:22px; overflow:hidden;}
.homeH2{ height:30px; margin-top:13px; padding-left:20px; background:#3D3D3D;box-shadow:1px 0 2px #CBCBCC; line-height:30px;}
.homeH2 a{ color:#FFF;}
.homeList{ padding:0 10px 34px 7px;  border-right:1px solid #CCC;border-bottom:1px solid #BEBFC0; background:#FFF; box-shadow:1px 1px 2px #CBCBCC; overflow:hidden;_zoom:1;}
.lastLi{border:1px solid #CCC; border-top:none;}
.homeList li{ display:inline; float:left; width:230px; height:60px; margin:18px 0 0 16px; padding-left:63px; background:#FFF; }
.homeList li h3{ height:20px; padding-top:10px; line-height:20px; color:#E20000; font-size:14px;}
.homeList li h3 a{ margin-right:13px;}
.homeList li p{ line-height:20px; color:#777;}
.homeList li p strong{ font-weight:normal;}
.homeList li img{ left:0; top:13px; display:block; width:50px; height:50px;}
/*问答帖*/
.qaTop{ float:left; height:33px; margin-top:10px; padding:0 10px; border:1px dashed #FFB238; border-radius:4px; background:#FFFDF5; line-height:33px; color:#848484;}
.qaTop i{ display:inline-block; float:left; margin:9px 6px 0 0;}
.qaTop span{ display:inline-block; float:left;}
.qaTop em{ padding:0 4px; font-weight:bold; color:#F36C20;}
.qaTop .icoMark{ display:inline-block; width:16px; height:16px; margin-left:20px; background-position:0 -1787px;}
.qa{ padding:20px 0; overflow:hidden}
.qa .mainCmtBtn{ float:none; margin-left:20px;}
.qaBor{ margin:20px 20px 0; padding:10px 0; border:1px solid #CCC; border-radius:6px; overflow:hidden;_zoom:1;}
.qaBorLi{ display:inline; float:left; width:334px; margin-left:20px; padding-right:15px; border-right:1px solid #CCC;}
.qaBorLi img{ float:left; width:48px; height:48px; margin-right:10px;}
.qaBorLi h4{ padding:2px 0 6px; color:#666; font-size:14px;}
.qaBorLiTop{ width:334px; padding:15px 0; border-top:1px dashed #E7E7E7;border-bottom:1px dashed #E7E7E7; overflow:hidden;}
.qaBorLiTop strong{ display:block; padding-top:2px; color:#666; font-weight:normal;}
.qaBorLiTop a{ font-size:14px;}
.qaBorLiTop a.pa{ right:0; top:34px; display:inline-block; width:83px; height:26px; border-radius:4px; background:#D4ECFC; line-height:26px; text-align:center; text-decoration:none;}
.qaBorLi dl{ padding:10px 0;}
.qaBorLi dt{ padding-botom:3px;}
.qaBorLi dd{ height:24px; padding-left:13px; background-position:-61px 12px; line-height:24px; overflow:hidden;}
.tcTop{ text-align:center; color:#666;}
.tcTop a{ margin:0 6px; color:#666;}
.tcTop em{ color:red;}
.btnBlue{ cursor:pointer; border-color:#2E70A2 #035593 #035593 #2E70A2; background-color:#2688D2;font-weight:bold; color:#FFF; text-decoration:none;text-shadow:1px 1px 0 #0A3D80;}
.btnBlue:hover{ border-color:#17639C #00448A #00448A #17639C; background-color:#0E7ED2; }
.btnBlue:active{ background-color:#0271C6;box-shadow:0 0 2px #999;}
.qa .btnBlue{ margin-left:20px;}
.bestA{ position:absolute; right:-7px; top:-1px; margin:0;}
.bestA,.bestA i{ display:inline-block; width:102px; height:38px; background-position:0 -2421px; line-height:38em; overflow:hidden;}
.bestA i{ float:right; width:39px; background-position:0 -2459px;}
.haveDig{ padding-right:80px;}
.btnDig{ right:0; top:14px;}
.btnDig span{ cursor:pointer; display:block;clear:both; float:right; height:23px; margin-top:5px;_margin-right:10px; border:1px solid #CCC; border-radius:4px; background-color:#F8F8F8; line-height:23px; color:#777; font-size:12px;}
.btnDig span.btnUp{ padding:0 5px 0 24px; background-position:5px -2525px;}
.btnDig span.btnDown{ clear:both;padding:0 22px 0 6px; background-position:right -2561px;}
.btnDig span:hover{ border-color:#BBB; background-color:#EFEFEF; box-shadow:0 0 2px rgba(0,0,0,0.2);}
.btnDig span:active{ border-color:#AAA; background-color:#E6E6E6; box-shadow:0 0 2px rgba(0,0,0,0.3);}
.bgBest{ background:#FAFDFE;}
/*颜色拾取*/
div.colorPicker-picker {cursor:pointer; display:inline; float:left; width:21px;height:21px; margin-right:3px;padding:0 !important;border:1px solid #CCC; background:url(../images/pn_color.png) no-repeat;line-height:21px;font-size:12px;font-weight:bold; text-align:center;}
div.colorPicker-palette {position:absolute;z-index:9999;width:110px;padding:2px; border:1px solid #598FEF; background-color:#EFEFEF;}
div.colorPicker_hexWrap { float:left;width:100%; }
div.colorPicker_hexWrap input {width:65%;margin:5px 2px; padding:0; border:1px solid #000;font-size:95%;}
div.colorPicker-swatch { cursor:pointer;float:left;width:12px;height:12px;margin:2px;  border:1px solid #000;line-height:12px;}
/*发帖*/
.pubTag{ position:relative; z-index:1; height:31px; border-bottom:1px solid #CDCDCD; background:#E3E3E3; _zoom:1;}
.pubTag li{ cursor:pointer;position:relative; z-index:2;float:left; height:31px;padding:0 22px;border-left:1px solid #CDCDCD; line-height:31px; font-weight:bold; font-size:14px;}
.pubTag li.bordNone{ border:none;}
.pubTag li.current{ z-index:4000;height:31px; border-top:1px solid #CDCDCD;border-left:1px solid #CDCDCD; background:#EBEBED;line-height:30px;}







/*footer*/
.footer{ clear:both;margin-top:40px; padding-bottom:30px;color:#666;}
.footer p{ line-height:20px; text-align:right;}
.footer p span{ float:left;}
.footer a{ margin:0 4px; color:#666;}
a.icoSecurity{ display:inline-block; float:right; width:19px; height:20px; background-position:-19px -1331px;}
/*右侧滚动*/
.scroll{position:fixed;_position:absolute;z-index:999;right:30px;bottom:-200px;_display:none;_bottom:auto;transition:bottom 0.9s;}
.scroll a{ cursor:pointer; display:block; width:16px; height:66px; margin-bottom:8px; padding:6px 6px 0 6px; border-radius:0 6px 6px 0; box-shadow:2px 2px 2px rgba(0,0,0,0.2); text-align:center; font-weight:bold; line-height:normal; color:#FFF;}
.scroll a.btnShare{ background:#FFA81F;}
.scroll a.btnShare i{ display:block;}
.scroll a.btnBackTop{background:#786E6A;}