/*---------
 Css for HDwiki Center
 Page building by banma@vip.qq.com
 Date:2010-04-19
---------*/
html,body,div,dl,dt,dd,ul,ul li,h1,h2,h3,h4,h5,h6,pre,input,p,blockquote,th,td,form{margin:0;padding:0;}
ul,ul li,dd,dt,dl{ list-style:none;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
img{border:0;}
caption,th{text-align:left;}
table{border-collapse:collapse;empty-cells:show;}
.table{border-spacing:0;font-size:12px;}
.fspan span{ display:block; font-weight:bold;}
input,select,textarea{font-size:12px; color:#111111;font-family:verdana,'lucida grande',taho,'trebuchet ms',sans-serif;}
textarea {padding:2px; color:#666;line-height:18px;}
body{text-align:left;font:12px/1.2 verdana,SimSun,Arial,Helvetica,'sans-serif';background:#F8F8F8;}

:focus{outline:none;}
h3{ line-height:32px;margin-right:10px;font-size:14px;font-weight:bold;color:#444;
padding:0 10px;background:#f0f0f0;
}
h2{font-size:14px;line-height:28px;font-weight:bold;color:#333;background:#F9F9F9;}
.f-20{font-size:28px;font-family:tahoma;color:#0486cd;}
a{color:#0068b6; text-decoration:none;}
a.red{	color:red;}
a.blue{color:#00f;}

.link_gray a,a.link_gray {color:#666;}
.l{float:left;}
.r{float:right;}
.p-10{padding:10px;}
.p-b10{padding-bottom:10px;}
.m-t10{margin-top:10px;}
.m-r10{margin-right:10px;}
.m-l8{margin-left:8px;}
.m-lr10{margin-left:10px;margin-right:10px;}
.a-r{text-align:right;}
.a-c{text-align:center;}
.v-b{vertical-align:bottom}
.v-t{vertical-align:top;}
.w-60{width:60px !important;}
.w-140{width:140px !important;}
.w-210{width:210px !important;}

select{width:155px;overflow:hidden;}

.inp_txt{height:14px;padding:5px 5px 3px;border:1px #ccc solid; width:180px;}
.textarea{ width:240px;padding:2px 4px; line-height:18px;border:1px #ccc solid;}
.inp_txt:hover,.inp_txt2:hover,.textarea:hover{border:1px #69c solid;}
.inp_btn{padding:4px 8px 6px 8px;text-align:center; background:#0068b6;color:#fff;border:0; font-size:14px;font-weight:bold;cursor:pointer;}
.inp_btn2{height:25px; padding:4px 6px;*padding:4px 0; background:#deeffa;color:#555;border:1px #4294d0 solid; font-size:12px;cursor:pointer;}
.checkbox{margin:0 10px 0 2px;}
label{margin:0 10px 0 2px;}

.head{ height:66px; overflow:hidden; background:#F2F9FD}
#nav{height:31px;border-bottom:3px #0068b6 solid;color:#239fe3; margin-top:30px;padding:0 0 0 160px;}
#nav li{line-height:31px;}
#nav li a{	cursor:pointer; float:left;margin:0 2px;}
#nav li a span{ float:left;display:block;line-height:24px; height:24px;padding:6px 6px 1px;}
#nav li{font-size:14px; font-weight:bold;float:left;}
#nav li.on a,#nav li a:hover{background:url(../images/admin/nave_bg.gif) no-repeat left;}
#nav li.on a span,#nav li a:hover span{background:url(../images/admin/nave_bg_r.gif) no-repeat right;color:#fff;}

.sidebar{margin-top:5px;}
.sidebar ul{ background:#fefefe; position:relative;border-top:1px #dfdfdf solid;}
.sidebar li{ line-height:25px;}
.sidebar li a{width:124px; display:block;height:25px; padding:5px 0 0 35px;color:#666;border-bottom:1px #dfdfdf solid; border-right:1px #dfdfdf solid;}
.sidebar li a:hover,.sidebar li a.on{background:#f8f8f8;color:#0068b6;font-weight:bold;border-right-color:#f8f8f8;}
.admin_bg {background: url("../images/admin/admin_bg.png") repeat scroll right top #f2f9fd;}
.tips{padding:5px 15px;color:#ff9b38;}
.tips a{margin: 0 4px;}

.tol_table{font-size:12px;margin:20px 10px -20px 10px;height:20px;border-bottom:1px #ccc solid;color:#666;font-weight:normal;}
.table{ table-layout:fixed;margin:20px 0 10px; width:99%;}
.table .hover{background:#fefefe;}
.table td{padding:8px 8px; line-height:22px;color:#555;border-bottom:1px #e7e7e7 solid;word-break:break-all;word-wrap:break-word;}
.table thead td{font-weight:bold;}
.table span{color:#555;}
.table td.name_r {border-right:1px #e1e1e1 solid;}

.v-t p{margin-top:22px;}
.col-h3{height:32px;line-height:32px; padding:0 10px;margin-right:10px;background:#f0f0f0; font-size:14px; font-weight:bold;color:#444;}
.col-h4{height:32px;line-height:32px;border-bottom:1px #dedede solid; padding:0 10px;margin-right:10px; font-size:12px;font-weight:bold;color:#444;}
.col-h5{height:32px;line-height:32px; padding:10px 10px 5px 10px;margin-right:10px; font-size:14px;font-weight:bold;color:#444;}
.submit{padding:20px 10px;}

.col-t {height:30px;line-height:30px;border-bottom:1px #e1e1e1 solid; padding:0 0 0 5px; font-size:12px; background:#F0F0F0;}
.col-t span {padding:0 15px;display:inline-block;margin-bottom:-1px;cursor:pointer;}
.col-t span.on {border-color:#ccc #ccc #F8F8F9; border-width:1px 1px 0; border-style:solid; background:#f8f8f9; position:relative;}

.sec_nav{font-size:14px;font-weight:bold;color:#0068b6;padding:10px 5px;}
.sec_nav a{font-size:12px;color:#666; font-size:12px;display:inline-block; cursor:pointer; line-height:21px}
.sec_nav a span{padding:0 4px;display:inline-block;height:21px;}
.sec_nav a:hover,.sec_nav a.on{background:url(../images/admin/sec_nav_bg.gif) no-repeat left top; color:#fff;}
.sec_nav a:hover span,.sec_nav a.on span{background:url(../images/admin/sec_nav_span_bg.gif) no-repeat right top;}
.sec_nav a span label{ position:relative;padding-left:2px;top:-5px;font-size:12px; display:inline-block; vertical-align:middle; font-weight:normal;font-family:Verdana}
.sec_nav a:hover span label,.sec_nav a.on span label{ display:none; cursor:none;width:0;height:0;overflow:hidden;}
/*分页*/
.fenye{ height:28px;}
.fenye a,.fenye span{text-align:center;padding:4px 8px;line-height:18px;display:inline-block;border:1px #ccc solid;background:#f7f7f7;margin-right:2px;}
.fenye span{border:0;}
/*---error---*/
.error{margin:100px;padding:20px;border:1px #ccc solid;}
.error dt{font-size:14px;font-weight:bold; margin-bottom:10px;}
.area2{width:95%;margin-top:10px; height:350px;line-height:22px;}

/*--分类树样式-*/
.chose_cate h3{border-bottom:1px #ccc dashed;margin:0 10px;padding-bottom:4px;margin-bottom:10px;}
.chose_cate dl{clear:both;padding:8px 10px;}
.chose_cate label{margin-right:4px;color:#0169cc;}
.chose_cate label input,.chose_cate img{ margin-right:4px;cursor:pointer;}
.chose_cate dt{margin-bottom:4px;height:22px;color:#474747;}
.chose_cate dd{float:left;padding:4px 0;margin-right:10px; white-space:nowrap; zoom:1;}
.chose_cate p.a-c{margin:0 12px;border-top:1px #ccc dashed;padding-top:6px;}
.chose_cate p.a-r{ overflow:hidden;clear:both;zoom:1;}

.map{ height:30px; line-height:30px; margin:0 5px; padding-top:5px;color:#666;border-bottom:1px #999 solid;}

/*--版块管理-*/
.start_icon, .away_icon, .zero_icon, .plus_icon, .plus_end_icon {
    background: url("../images/admin/icon_list.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    vertical-align: middle;
}
.start_icon, .away_icon, .zero_icon, .plus_none_icon {
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    width: 20px;
}
.away_icon {
    background-position: 0 -20px;
}
.zero_icon {
    background-position: -20px 0;
    cursor: default;
}
.plus_icon, .plus_end_icon {
    background-position: 0 -43px;
    height: 24px;
    margin-right: 5px;
    width: 40px;
}
.plus_end_icon {
    background-position: 0 -70px;
}
.plus_on_icon {
    background-position: 0 -100px;
    cursor: default;
}
.plus_none_icon {
    background-position: 999px 999px;
    cursor: default;
}
.link_add {
    background: url("../images/admin/link_add.png") no-repeat scroll 3px 3px transparent;
    display: inline-block;
    padding-left: 20px;
}


